
html{
    scroll-behavior: smooth;
}

/****************************SCROLL BAR***********************************/
::-webkit-scrollbar {
    width: 11px;
    
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/******************************BODY*************************************/
body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    min-width: 400px;
    min-height: 200px;
    max-height: 300px;
    overflow: hidden;
    position: relative;
    z-index:-9;
}


/******************************TOP-BOX*************************************/
.container{
    width:100vw;
    height:80vh;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
}

#container {
    padding-top:1vh;
    width: 96vw;
    min-height:79vh;
    margin-left: 3vw;
    background: rgba(0, 0, 0, 0.221);
    height: auto;
}

#gray-container-1 {
    margin-left: 3vw;
    height: 40vh;
    width: 96vw;
    background: rgb(198, 198, 198);
    position: absolute;
}
#gray-container-2 {
    margin-left: 3vw;
    height: 40vh;
    width: 96vw;
    background: rgb(198, 198, 198);
    position: absolute;
}
#gray-container-3 {
    margin-left: 3vw;
    height: 40vh;
    width: 96vw;
    background: rgb(198, 198, 198);
    position: absolute;
}
.desert{
    margin: 2vh 0 ;
    position: absolute;
    width:94vw;
    height: 78vh;
    left:3vw;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#desert-img {
    background: rgba(0, 0, 0, 0.318);
}
.link-box{
    position: relative;
    min-height: 30px;
    margin-top:2vh;
    margin-left:2vw;
    height: 6vh;
    width: 90vw;
    background-color: rgba(0, 0, 0, 0.191);
    

}

.link-box:hover{
    background-color: rgba(0, 0, 0, 0.254);
}
.link-btn{
    top:10%;
    overflow: hidden;
    position: absolute;
    font-size: 15px;
    width: 60vw;
    height: 80%;
    display: flex;    
    align-items: center;
    margin-left:2vw;
    color: rgb(0, 2, 21);
    
}

.the-link{
    width: 100vw;    
    position: absolute;
}

.notes{
    min-height: 30px;
    position: absolute;
    width: 13vw;
}
.note-icon {
    border: 4px solid rgba(243, 238, 238, 0);
    min-height: 22px;
    position: absolute;
    height: 3vh;
    margin-left: 68.5vw;
}

.note-icon:hover {
    background-color: rgba(0, 255, 255, 0.352);
}

.note-box{
    position: relative;
    margin-left:10vw ;
    height: 100px;
    width:58.5vw;
    background-image: url(images/page.png);
    z-index: 5;
    border-radius:8px;
    overflow: auto;
    overflow-x: hidden;
    border:1px black solid;
}

.nb_close {
    margin-top:2px;
    background: rgb(208, 208, 208);
    position: absolute;
    right:3px;
    height: 19px;
    width:19px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.nb_close:hover{
    background-color: rgb(255, 218, 218);
}


.nbedit {
    cursor:context-menu;
    position:absolute;
    font-family: 'Roboto', sans-serif;
    margin-top:2px;
    font-size:14px;
    padding-left: 4px;
    padding-right:4px;
    padding-top:1px;
    padding-bottom:1px;
    right:25px;
    background: rgb(208, 208, 208);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-weight: bold;
    color: rgb(12, 6, 124);
}

.nbedit:hover{
    background: rgb(255, 255, 255);
}

.savebtn {
    cursor:context-menu;
    position:absolute;
    font-family: 'Roboto', sans-serif;
    margin-top:2px;
    font-size:14px;
    padding-left: 4px;
    padding-right:4px;
    padding-top:1px;
    padding-bottom:1px;
    right:25px;
    background: rgb(208, 208, 208);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-weight: bold;
    color: rgb(61, 61, 61);
}
.savebtn:hover {
    background: rgb(133, 244, 154);
}
.note_box_ {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-top: 27px;
    position: absolute;
    min-height:70px ;
    width: 51.75vw;
    left:10px;
    word-wrap: break-word;
    font-weight: 580;
    color: #000000;
    padding-left:2.5px;
    padding-right:2.5px;
    background: #00000023;
}
.edit_box_ {
    background-image: linear-gradient(240deg,rgb(227, 227, 227),rgb(224, 220, 220),rgb(193, 191, 191),rgb(163, 163, 163));
    border: none;
    resize: vertical;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-top: 26px;
    position: absolute;
    height:70px ;
    width: 53.5vw;
    left:10px;
}
.delete-btn {
    min-height: 30px;
    position: absolute;
    width: 13vw;
    
}
.del-icon{
    min-height: 30px;
    position: absolute;
    height: 5vh;
    margin-left: 75.5vw;

}

.move-btn{
    min-height: 30px;
    position: absolute;
    width: 13vw;

}
.move-icon{
    min-height: 20px;
    position: absolute;
    height: 4vh;
    margin-left: 82.5vw;
    border:5px solid rgba(0, 0, 0, 0);
    opacity: 0.73;
}

.del-icon:hover{
    background-color: rgba(224, 69, 69, 0.404);
}
.move-icon:hover{
    background-color: rgba(0, 0, 0, 0.12);
    
}

/******************************THE-FOOTER******************************************/

.buttons{
    height: 20vh;
    margin:0;
    position: relative;
    width:100vw;
}
#save-btn {
    
    margin-top: 3.5vh;
    margin-bottom:3.5vh;
    position: absolute;
    width: 33.5vw;
    height: 13vh;
    left:3vw;
    padding: 4px 12px;
    border-radius:3px;
    background: rgb(13, 141, 13);
    color: aliceblue;
    border: 2px solid rgb(13, 141, 13);
    font-weight: 500;
}
#save-btn:hover{
    background: rgb(40, 163, 18);
}
#erase-btn {
    color: rgb(255, 255, 255);
    background: rgb(231, 0, 0);
    border: 2px solid rgb(237, 0, 0);
    margin-top: 3.5vh;
    margin-bottom:3.5vh;
    position: absolute;
    width: 33.5vw;
    height: 13vh;
    left:39.5vw;
    padding: 4px 12px;
    border-radius:3px;
    font-weight: 500;
}
#erase-btn:hover{
    background: rgb(239, 46, 46);
}

#VKCart{
    color:rgba(99, 21, 85, 0.949);
    font-size:1rem;
    font-weight: 800;
    font-family: 'Cedarville Cursive', cursive;
    cursor: default;
    position: absolute;
    left:76vw;
    bottom:2.3vh;
    opacity:0.77;
}

#VKCart:hover {
    opacity: 0.91;
}